  
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 5px solid #0c76c7;
    box-shadow: 0px 2px 4px rgba(76, 134, 243, 0.1);
  }
  
  p {
    color: #1b1919;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(226, 234, 241);
    text-align: center;
    font-family: Open Sans;
  }
  
  h2 {
    margin: 10px auto;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5em;
    color: #161718;
    font-weight: bold;
    display: block;
    text-decoration: underline;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
body {
    font-family: sans-serif;
    background-color: #6464a3; /* Default background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #308be0;
}

#taskInput {
    width: 300px;
    padding: 10px;
    margin: 1
}

body.dark-mode {
  background-color: #121212; 
  color: white; 
}